footer {
  max-width: 1440px;
  margin: 9px auto 69px;
  padding-left: 80px;

  .SocialMedia {
    margin: 0 auto;

    img {
      margin-right: 18px;
      width: 40px;
      height: 39.612px;

      &:hover {
        cursor: pointer;
      }
    }
    #year{
      min-width: 324px;

    }

    p {
      color: #292D32;
      font-family: 'Rubik', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%; /* 16.8px */
    }

    div {
      display: flex;
      width: 100%;


      span {
        margin-left: 742px;
        display: flex;


        p {
          margin-right: 25px;
          color: #292D32;
          width: 100px;

          &:hover {
            cursor: pointer;
          }

        }
      }
    }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
    max-width: 768px;
    margin: 34px auto 39px;
    padding-left: 25px;

    .SocialMedia {
      img {

      }

      p {
      }

      div {

        span {
          margin-left: 181px;


          p {
            margin-right: 25px;
          }
        }
      }
    }

  }
  @media only screen and (max-device-width: 767px) {
    max-width: 375px;
    margin: 0 auto 23px;
    padding-left: 0;

    .SocialMedia {
      max-width: 343px;
      flex-direction: column-reverse;
      img {

      }

      p {
      }

      div {
        flex-direction: column-reverse;
        width: 324px;

        span {
          margin-left: 255px;
          margin-bottom: 25px;
          position: absolute;
          display: block;


          p {
            margin-right: 0px;
          }
        }
      }
    }

  }

  }
